@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    /* margin: 0; */
    /* padding: 0; */
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #d6d6d6;
    color: #000000;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown span{
    display: inline-block;
    padding: 10px 15px;
    background-color: hsl(0, 100%, 62%);
    /* font-size: 15px; */
    /* font-weight: bold; */
    /* text-align: center; */
    cursor: pointer;
    text-transform: capitalize;
}
.option-bar{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 200px;
    max-height: 150px;
    overflow-y: scroll;
    background-color: aliceblue;
    padding-left: 10px;
}
a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000; 
}
.dropdown:hover .option-bar{
        display: block;
}