@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.image{
    border: solid;
    width: 30vw;
    height: 50vh;
    transition: all 1s;
}

.image:hover{
    transform: scale(180%);
}
